.content {
  background-color: #ffffff;
  align-items: center;
  padding-left: 58px;
  padding-right: 58px;
  padding-top: 48px;
  padding-bottom: 72px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  z-index: -1;
}
