:root {
  --border-radius: 6px;
}

body {
  background-color: #f9f9f9;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

@media (min-width: 750px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
}

input,
button {
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: unset;
}
