.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
}

.select {
  position: relative;
  margin-right: 34px;
  z-index: 3;
  cursor: pointer;
}

.select__content {
  position: absolute;
  top: -32px;
  display: flex;
  flex-direction: column;
  border: 1px solid #c4c4c4;
  max-width: 100%;
  background-color: #fff;
  padding: 16px;
  margin-right: 58px;
  width: 439px;
  border-radius: var(--border-radius);
}

.select__content--filled {
  position: absolute;
  top: -32px;
  display: flex;
  flex-direction: column;
  border: 2px solid #34394f;
  max-width: 100%;
  background-color: #fff;
  padding: 16px;
  margin-right: 58px;
  width: 439px;
  border-radius: var(--border-radius);
}

.select__content__heading {
  flex-grow: 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: -0.52px;
  text-align: left;
  color: #c4c4c4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.select__content__heading-default {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: -0.52px;
  text-align: left;
  color: #34394f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.select__content__options {
  display: flex;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.select__content__options__item {
  width: 102%;
  padding-top: 20px;
  padding-bottom: 20px;
  align-self: flex-start;
  padding-left: 8px;
  margin-left: -8px;
  cursor: pointer;
  opacity: 0.8;
}

.select__content__options__item:hover {
  align-self: flex-start;
  flex-grow: 0;
  border-radius: 6px;
  background-color: #e9e9e9;
  opacity: 1;
}

.placeholder {
  color: #c4c4c4;
}

.full_name {
  margin: 0;
  margin-top: 26px;
  border: none;
  border-radius: var(--border-radius);
  padding: 4px;
  padding-top: 0;
  border-style: solid;
  border: solid 1px #c4c4c4;
}

.full_name--focus {
  margin: 0;
  margin-top: 26px;
  border: none;
  padding: 0;
  border-radius: var(--border-radius);
  padding: 4px;
  border-style: solid;
  border: solid 1px #34394f;
  box-shadow: 1px 1px 0 #34394f, -1px -1px #34394f;
}

.full_name__input {
  width: 100%;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #c4c4c4;
  position: relative;
  letter-spacing: -0.52px;
  background-color: #fff;
}

@media (min-width: 650px) {
  .select__content {
    width: 538px;
  }
}
