.header {
  width: 100%;
  margin-bottom: 32px;
}

.header__heading {
  margin: 0;
  padding-bottom: 24px;
  font-size: 0;
}

.header__content {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #34394f;
}

.header__content {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #34394f;
}
