.footer {
  --background-color: #f5f6f8;
}

button {
  border: none;
}

button:hover {
  outline: none;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 0 1;
  width: 100%;
}

.footer__content__votes {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 16px;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

.footer__content__votes-not-valid {
  --background-color: #f39a9a;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 16px;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

.footer__content__votes__value {
  max-width: 100%;
  width: 40%;
  background-color: var(--background-color);
  text-align: center;
  border: none;
  -moz-appearance: none;
}

.footer__content__votes__value::-webkit-inner-spin-button,
.footer__content__votes__value::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.footer__content__votes__value:focus {
  outline: none;
}

.footer__content__votes__button {
  padding: 0;
  background-color: var(--background-color);
}

.footer__content__save-button {
  width: 100%;
  background-color: #34394f;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  text-align: center;
  letter-spacing: -0.52px;
  border-radius: var(--border-radius);
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer__content__save-button:disabled {
  background-color: #f5f6f8;
  color: #34394f;
}

.footer__content__votes__button__wrapper {
  background-color: #e1e2e3;
  padding: 4px;
  padding-top: 9px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 50%;
}

.footer__alert {
  padding: 0;
  padding-top: 12px;
  opacity: 0.6;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: -0.52px;
  text-align: left;
  color: #f39a9a;
}
@media (min-width: 500px) {
  .footer__content {
    flex-direction: row;
  }

  .footer__content__votes {
    width: 30%;
  }

  .footer__content__votes-not-valid {
    width: 30%;
  }

  .footer__content__save-button {
    width: 65%;
  }
}
