.container {
  padding: 10px;
  scrollbar-width: none;
}

@media (min-width: 650px) {
  .container {
    max-width: 555px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 704px;
    overflow-y: scroll;
    height: 95vh;
  }
}

.container::-webkit-scrollbar {
  display: none;
}
